body {
    margin: 0px;
}

#container {
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr 3fr 1fr;
    grid-template-areas: 
    "left-bar header header"
    "left-bar main right-bar"
    "left-bar main right-bar";
    width: 100vw;
    height: 100vh;
}

#left-bar {
    color: white;
    grid-area: left-bar;
    background-color: #468CFB;
    padding: 5px;
}

#left-bar h2 {
    font-size: 1.8rem;
}

#left-bar h3 {
    font-size: 1.5rem;
    margin: .6rem;
    margin-left: 0;
    margin-right: .2rem;
}
#one, #two, #three {
    display: grid;
    grid: auto-flow / 30% 100%;
}

#two {
    padding-top: 40px;
    padding-bottom: 40px;
}

#main-icon {
    width: 60px;
}

.icon {
    color: white;
    place-self: center;
}


#header {
    grid-area: header;
    box-shadow: 0px 8px 3px -5px lightslategrey;
    z-index: 1;
}

#header-top {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-inline: 40px;
    gap: 20px;
}

#header-top h2 {
    font-size: 1.2rem;
}
#search-icon, #header label {
    align-self: flex-start;
    margin-top: 15px;
}
#search-icon, #bell {
    height: 25px;
    width: auto;
}

#search {
    background-color: rgb(218, 221, 233);
    border-radius: 20px;
    height: 27px;
    border: none;
}

#bell {
    margin-left: auto;
}

#header label {
    width: 50%;
}

#search {
    width: 100%;
}

#header-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 0px;
    margin-inline: 40px;
    margin-top: 20px;
}

#user-icon-large {
    height: 70px;
    width: auto;
}

#greeting-box {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

#greeting, #user-name {
    font-weight: 700;
}

#greeting {
    font-size: 1rem;
}

#user-name {
    font-size: 1.6rem;
}

#header-bottom button {
    color: white;
    background-color: #468CFB;
    font-size: 1rem;
    font-weight: 700;
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 20px;
    margin: 20px;
}

#header-bottom button:hover {
    color: #468CFB;
    background-color: white;
    border: 2px solid #468CFB;
}

#new {
    margin-left: auto;
}

#main, #right-bar {
    background-color: rgb(218, 221, 233);
}

#main {
    grid-area: main;
    overflow: hidden;
}

#main-grid {
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

#projects-headline {
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border-left: 10px solid #F5B94E;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    place-self: center;
    overflow: hidden;
}

.card h2 {
    margin-bottom: 5px;
}

.card p {
    margin-block: 5px;
    overflow: hidden;
}

.card h2, .card p {
    padding-inline: 20px;
}

.icon-box {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

#right-bar {
    grid-area: right-bar;
}
